set show-all-if-ambiguous on
set visible-stats on
set page-completions off
# http://www.caliban.org/bash/
#set editing-mode vi
#set keymap vi
set show-all-if-ambiguous on
#Control-o: ">&sortie"
"\e[A": history-search-backward
"\e[B": history-search-forward

"\e[7~": beginning-of-line
"\e[8~": end-of-line

"\C-j": "\C-atime \C-m"
