/* The whole bar */
* {
  border: none;
  border-radius: 0;
  /*font-family: "Hack", "Noto Color Emoji", sans-serif;*/
  font-size: 14px;
  /*font-weight: bold;*/
  min-height: 0;
  font-family:
    Cantarell,
    Noto Sans,
    sans-serif;
}

window#waybar {
  background-color: #225877;
  color: white;
}

.modules-left {
  background-color: #323232;
  padding: 0px 0px 0px 0px;
}

.modules-right {
  background-color: #323232;
  padding: 0px 5px 0px 0px;
}

#custom-dwl_layout {
  background-color: #225877;
  padding: 0 1px;
}

#custom-dwl_title {
  color: white;
  padding: 0 2em;
}

#custom-dwl_tag {
  padding: 0 5px;
  color: white;
}

#custom-dwl_tag.selected {
  color: #225877;
}

#custom-dwl_tag.urgent {
  background-color: #ff0000;
}

#custom-dwl_tag.active {
  border-top: 2px solid #225877;
}

#clock,
#pulseaudio {
  color: white;
  padding: 0px 5px 0px 5px;
}

#network,
#temperature,
#backlight,
#battery {
  padding: 0px 15px 0px 15px;
}

#window {
  color: #ffffff;
  background-color: #285577;
  padding: 0px 10px 0px 10px;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}

window#waybar.empty {
  background-color: #323232;
}

#tray {
  padding: 0px 5px 0px 0px;
  margin: 0px 2px 0px 0px;
}

#workspaces button {
  padding: 0 0.25em;
  background-color: @surface0;
  color: @text;
  margin: 0 0.25em;
}

#workspaces button.empty {
  padding: 0 0.25em;
  color: @text;
  background-color: #323232;
}

#workspaces button.persistent {
  padding: 0 0.25em;
  color: @text;
  background-color: #323232;
}

#workspaces button.active {
  color: #285577;
}
#workspaces button.urgent {
  background-color: #ff0000;
  border-radius: 1em;
  color: @text;
}
